<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <script type="text/javascript" src="./vue/js/vue.js"></script>
    <script type="text/javascript" src="./vue/js/index.js"></script>
    <script type="text/javascript" src="./vue/js/spark-md5.js"></script>
    <script src="./jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="./vue/css/index.css"/>
</head>
<body>
<div id="root">
    <div class="demo-input-size" v-on:keyup="nextInput($event.key)">
        请输入激活码：
        <el-input
                type="text"
                v-model="text1"
                maxlength="5"
                ref="mark1"
                @input="check('text1')"
        >
        </el-input>
        -
        <el-input
                type="text"
                v-model="text2"
                maxlength="5"
                ref="mark2"
                @input="check('text2')"
        >
        </el-input>
        -
        <el-input
                type="text"
                v-model="text3"
                maxlength="5"
                ref="mark3"
                @input="check('text3')"
        >
        </el-input>
        -
        <el-input
                type="text"
                v-model="text4"
                maxlength="5"
                ref="mark4"
                @input="check('text4')"
        >
        </el-input>
        -
        <el-input
                type="text"
                v-model="text5"
                maxlength="5"
                ref="mark5"
                @input="check('text5')"
        >
        </el-input>
        <el-button type="primary" plain @click="onSubmit">激活</el-button>
    </div>
</div>
<script type="text/javascript">
    let text1 = false;
    let text2 = false;
    let text3 = false;
    let text4 = false;
    let text5 = false;
    let _this;

    new Vue({
        el: '#root',
        data() {
            return {
                text1: '',
                text2: '',
                text3: '',
                text4: '',
                text5: ''
            }
        },
        mounted(){
            _this = this;
        },
        methods:{
            onSubmit(){
                const loading = this.$loading({
                    lock: true,
                    text: '激活中……',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                $.ajax({
                    url:'/activationKey',
                    data:{
                        key:this.text1+"-"+this.text2+"-"+this.text3+"-"+this.text4+"-"+this.text5
                    },
                    async:false,
                    success:function (data) {
                        if (data.status === "success"){
                            _this.$notify({
                                title: '成功',
                                message: '恭喜你，激活成功',
                                type: 'success',
                                duration: 0
                            });
                            loading.close();
                        }else{
                            _this.$notify.error({
                                title: '错误',
                                message: '激活失败',
                                duration: 0
                            });
                            loading.close();
                        }
                    },
                    error:function (data) {
                        _this.$notify.error({
                            title: '错误',
                            message: '激活失败',
                            duration: 0
                        });
                        loading.close();
                    }
                })
            },
            check(value){
                if (typeof(this[value]) == "string"){
                    this[value] = this[value].toUpperCase();
                }
            },
            nextInput(obj){
                if (!text1 && !text2 && !text3 && !text4 && !text5 && this.text1.length === 5){
                    text1 = true;
                    this.$refs['mark2'].focus();
                }else if (text1 && !text2 && !text3 && !text4 && !text5 && this.text2.length === 5) {
                    text2 = true;
                    this.$refs['mark3'].focus();
                }else if (text1 && text2 && !text3 && !text4 && !text5 && this.text3.length === 5) {
                    text3 = true;
                    this.$refs['mark4'].focus();
                }else if (text1 && text2 && text3 && !text4 && !text5 && this.text4.length === 5) {
                    text4 = true;
                    this.$refs['mark5'].focus();
                } else if (text1 && text2 && text3 && text4 && !text5 && this.text5.length === 5) {
                    text5 = true;
                    this.$refs['mark5'].focus();
                }
            }
        }
    })
</script>
<style>
    .el-input{
        width: 90px!important;
    }
</style>
</body>
</html>
